@model IEnumerable<coursework.Models.TermPaper>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Advisor
            @Html.DisplayNameFor(model => model.Advisor.LastName)
        </th>
        <th>
            Student 
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPassed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Advisor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPassed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TermPaperID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TermPaperID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TermPaperID })
        </td>
    </tr>
}

</table>
